.home-container {
  padding: 2rem;
}

.home-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
}

.home-title {
  margin: 0;
}

.hot-sale-image {
  height: 75px;
}

.home-description {
  margin-top: 1rem;
}
.home-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}
